@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.hero {
  height: 45rem;
}

.hero img {
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  -ms-filter: brightness(0.5);
  filter: brightness(0.5);
}

@font-face {
  font-family: "Dancing";
  src: url("../../MERN-Team-Project/src/Fonts/DancingScript-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Garet-Book";
  src: url("../../MERN-Team-Project/src/Fonts/Garet-Book.ttf")
    format("truetype");
}

.heromid {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.reservebtn {
  border: 1px solid #fff;
  padding: 2px 80px;
  transition: background-color 0.3s ease-in-out;
}

.reservebtn:hover {
  border-color: aqua;
  color: aqua;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.hero {
  min-height: 50rem;
}


.reservenowbtn:hover{

  border-color: aqua;
  color: aqua;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.centered {
  transform: translateY(50%);
  transition: transform 0.5s ease-in-out;
}

.show-history {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
